scikit-learn==1.2.0
missingno==0.5.1 
yellowbrick==1.5 
statsmodels==0.13.5 
upsetplot==0.8.0 
ipympl==0.9.2 
ydata-profiling
ipympl==0.9.2
pyjanitor 
matplotlib 
numpy 
pandas
pandas-flavor 
seaborn 
session-info 
ipywidgets 
ozon3 
pyreadr 
nhanes==0.5.1 
fancyimpute
scipy 
session-info 
plotly
imblearn